body {
  font-family: 'Montserrat', sans-serif;
  background: linear-gradient(120deg, #1b9147 0%, #b1e0c2 100%);
}

.App {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
  background-color: transparent;
}

.navbar-list {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.navbar-item {
  font-size: 1.2em;
}

.navbar-item a {
  text-decoration: none;
  color: rgb(215, 235, 224);
  font-weight: 600;
}

.navbar-item a:hover {
  text-decoration: underline;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}