.home-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

.home-left {
  flex: 1;
  padding: 0 20px 0 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  transform: translateY(-100px);
  color: rgb(215, 235, 224);
}

.home-left h1 {
  margin-top: 0;
  font-size: 2.8em;
  font-weight: 700;
  margin-bottom: 20px;
}

.home-left p {
  font-size: 1.5em;
  margin-bottom: 20px;
  max-width: 550px;
  text-align: left;
}

/* Added font styles for button */
.home-left button {
  font-family: inherit; /* Make sure it inherits the font from parent */
  font-size: 1.2em; /* Match this with the paragraph text */
  font-weight: 500;
  padding: 15px 30px;
  margin-top: 20px;
  background-color: #1e5423;
  color: rgb(215, 235, 224);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.home-left button:hover {
  background-color: #4c8151;
}

.home-right {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 100px 0 20px;
}

.home-right h2 {
  margin-bottom: 10px;
}

/* Ensure button styling is consistent */
button {
  font-family: inherit; /* Inherit the font family */
  font-size: 1.5em; /* Match this with the paragraph text */
  margin-top: 20px;
}

.map-container {
  width: 600px;
  height: 600px;
  border-radius: 50%;
  overflow: hidden;
  aspect-ratio: 1 / 1;
  transform: translateY(-50px);
  display: flex;
  align-items: center;
  justify-content: center;
  clip-path: circle(50% at 50% 50%);
  border: 5px solid #4c8151;
}
